<%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <div class="container">
      <main class="text-capitalize my-3">
        <div class="row">
          <div class="col-8 offset-2">
            <form method="POST" enctype='multipart/form-data'>
              <div class="form-group">
                <label for="dataset"
                  ><h3>Drag / Upload your dataset here</h3></label
                >
              </div>
              <div class="input-group mb-3">
                <div class="form-group">
                    <label for="controlfile">Example file input</label>
                    <input name="file"type="file" class="form-control-file" id="controlfile">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6 col-10">
                  <button type="submit" class="btn btn-warning">
                    Visualize
                  </button>
                  <button type="submit" class="btn btn-success">
                    View Algorithm
                  </button>
                </div>
              </div>
            </form>
            <div>
              <% if(filepath) {%>
                <form action="/result" method="POST">
                  <input name="file_path" type="hidden" value="<%= filepath %>">
                </form>
                <a href="/result">Done! See your results...</a>
                <% } else {%>
              <p>Upload file to see results</p>
              <%}%>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('./includes/footer.ejs') %>    
  </body>
</html>
