<%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <div class="container">
      <main class="text-capitalize my-3">
        <div class="row">
          <p class="text-info">This web application runs EDA analytics and predictive analytics on the uploaded dataset, the dataset must be in a csv file format and must contain an <strong>attrition column</strong>.</p>
          <div class="col-8 offset-2">
            <form action='/' method="POST" enctype='multipart/form-data'>
              <div class="form-group">
                <label for="dataset"
                  ><h3>Upload Your HR Dataset Here</h3></label
                >
              </div>
              <div class="input-group mb-3">
                <div class="form-group">
                    <input name="file" type="file" class="form-control-file" id="controlfile">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6 col-10">
                  <button type="submit" class="btn btn-success">
                    Upload Dataset
                  </button>
                  </div>
              </div>
            </form>
            <div>
              <p>Upload file to see results</p>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('./includes/footer.ejs') %>    
  </body>
</html>
