<%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <div class="container">
      <main class="text-capitalize my-5 mx-auto text-align-center">
            <% if(filepath) {%>
            <form action="/result" method="POST">
                <div class="form-group row">
                    <input name="file_path" type="hidden" value="<%= filepath %>">
                    <div class="col-lg-6 col-10">
                        <button 
                        id="run-script"
                        type="submit" class="btn btn-lg btn-success mx-auto">
                            Click Here To Run Script
                        </button>
                    </div>
                </div>
            </form>
            <div id="display" class="text-capitalize my-4 mx-auto">
                <p>The Script is Running in the background, please wait for about 2 - 3 minutes...😊😊</p>
            </div>
            <% } else {%>
            <%}%>
        </main>
    </div>
<%- include('./includes/footer.ejs') %>    
</body>
</html>