@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Marck+Script&family=Parisienne&family=Sacramento&display=swap");

* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 18px !important;
  background: url("./mybgd.jpg");
  /* background: #d1d1d1; */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 1.4;
  min-height: 100vh;
  color: #000 !important;
}

main {
  position: relative;
  padding-bottom: 70px;
}

#navbar {
  border-bottom: #7952b3 4px solid !important;
  margin-bottom: 5%;
  box-shadow: 0 -1px 17px #5e2bac;
}

#navbar a {
  color: #7952b3 !important;
  letter-spacing: 2px;
  font-weight: 700;
}

footer {
  font-family: "Marck Script", cursive;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: #7952b3 !important;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.tray {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: fit-content;
  height: 500px;
  border: #7952b3 solid 2px;
  border-radius: 10px;
  margin: 5% auto;
  padding: 2% 3%;
}

.tray img {
  position: relative;
  height: 90%;
  width: 90%;
  display: block;
}

.title {
  color: #2e0563;
  text-align: center;
  text-transform: capitalize;
  border-bottom: #2e0563 !important;
  margin-bottom: 2%;
}

.scores {
  margin: 2% auto;
  text-align: left;
}

.title span {
  padding: 1%;
  border-radius: 5px;
  font-weight: bolder;
}

#display {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 3% auto;
}

.results ul li {
  font-size: 20px;
}
