@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Marck+Script&family=Parisienne&family=Sacramento&display=swap");

body {
  font-family: "Comic Neue", cursive !important;
  font-size: 17px !important;
  background: #f3f3f3;
  height: 100vh;
  position: relative;
}

footer {
  font-family: "Marck Script", cursive;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff !important;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.results ul li {
  font-size: 20px;
}
